@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;900&display=swap');

body{
background-color:rgb(255, 255, 255)!important;
border-color:transparent !important;
color: rgba(10,10,10,1)!important;  
}
i{
  color: rgba(10,10,10,1)!important;  
}
p{
  font-size: .85em !important;
  text-decoration: none !important;
  }
  a{
    text-decoration: none;
    color: rgba(10,10,10,1)!important;  
    font-size: 1em;
    }

    .song{
      text-decoration: none;
      color: rgba(10,10,10,1)!important;  
      transition: .5s;
      }
      .song:hover{
        text-decoration: none;
        color: rgba(10,10,10,1)!important;  
        transition: .5s;
        }
        .song:after{
          text-decoration: none;
          color: rgba(10,10,10,1)!important;  
          transition: .5s;
          }
          .song:visited{
            text-decoration: none;
            color: rgba(10,10,10,1)!important;  
            transition: .5s;
            }
      .row{
        margin:5rem;
      }
.title{
  font-family: 'Cinzel', serif;
  font-weight: 900;
font-size: 8rem!important;
padding:1rem!important;
margin:1rem!important;
justify-content: center!important;
color: rgba(10,10,10,1)!important;  
padding-bottom: 10rem!important;
transition: 1s;
opacity: 1;
position: absolute;
}
.title:hover{
  font-family: 'Cinzel', serif;
  font-weight: 900;
font-size: 8rem!important;
  padding:1rem!important;
  margin:1rem!important;
  justify-content: center!important;
  color: rgb(255, 255, 255,.1)!important;
  padding-bottom: 10rem!important;
  transition: .5s;
  opacity: 1;
  position: absolute;
  }
  .title:after{
    font-family: 'Cinzel', serif;
    font-weight: 900;
font-size: 8rem!important;
    padding:1rem!important;
    margin:1rem!important;
    justify-content: center!important;
    color: rgb(255, 255, 255,.1)!important;
    padding-bottom: 10rem!important;
    transition: .5s;
    opacity: 1;
    position: absolute;
    }

    .quad{
      font-family: 'libre baskerville'!important;
      font-size: 1.25rem!important;
      padding:1rem!important;
      margin:1rem!important;
      justify-content: center!important;
      color: rgba(10,10,10,1)!important;  
      padding-bottom: 10rem!important;
      transition: 1s;
      }

.social-velo{
width:8em!important;
height:8em!important;
padding:.5em;
margin:.5em;
opacity:1;
transition: 1s;
font-size: .51em;
font-family: Arial, Helvetica, sans-serif;
}
.social-velo:hover{
  width:8em!important;
  height:8em!important;
  padding:.5em;
  margin:.5em;
  opacity:.5;
  transition: 1s;
  }

.image{
  width: 30em!important;
    opacity:1;
  transition: 1s;
  }
  .image:hover{
    width: 30em!important;
    opacity:1;
  transition: .5s;
  }
