@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;900&display=swap');

body{
background-color:rgb(255, 255, 255)!important;
border-color:transparent !important;
color: rgba(10,10,10,1)!important;  
}
footer{
  color: rgb(0, 0, 0)!important; 
  background-color:rgb(255, 255, 255)!important;
}
hr{
  font-size: .95em !important;
  color: rgb(0, 0, 0,.25)!important; 
}
i{
  color: rgba(10,10,10,1)!important;  
}
p{
  font-size: .95em !important;
  color: rgb(0, 0, 0)!important; 
  text-decoration: none !important;
  text-align: left!important;
  }
  .footy{
    font-family: 'Libre Baskerville', serif!important;
    font-size: .95em !important;
    color: rgb(0, 0, 0)!important; 
    text-decoration: none !important;
    text-align: center!important;
    }
  a{
    text-decoration: none;
    color: rgba(10,10,10,1)!important;  
    font-size: 1em;
    }
    .song{
      text-decoration: none;
      color: rgba(10,10,10,1)!important;  
      transition: .5s;
      }
      .song:hover{
        text-decoration: none;
        color: rgba(10,10,10,1)!important;  
        transition: .5s;
        }
        .song:after{
          text-decoration: none;
          color: rgba(10,10,10,1)!important;  
          transition: .5s;
          }
          .song:visited{
            text-decoration: none;
            color: rgba(10,10,10,1)!important;  
            transition: .5s;
            }
      .row{
        margin:.21rem!important;
        margin:.21rem!important;
      }
.title{
  font-family: 'Cinzel', serif!important;
  font-size: 8rem!important;
padding:1rem!important;
margin:1rem!important;
justify-content: center!important;
color: rgb(190, 190, 190)!important;  
padding-bottom: 10rem!important;
transition: 1s;
opacity: 1;
position: absolute;
}
.subtitle{
  font-family: 'Cinzel', serif!important;
  font-size: 2rem!important;
padding:1rem!important;
margin:1rem!important;
justify-content: center!important;
color: rgb(190, 190, 190)!important;  
padding-bottom: 10rem!important;
transition: 1s;
opacity: 1;
}
.title:hover{
  font-family: 'Cinzel', serif!important;
  font-size: 8rem!important;
  padding:1rem!important;
  margin:1rem!important;
  justify-content: center!important;
  color: rgba(0, 0, 0, 0.79)!important;
  padding-bottom: 10rem!important;
  transition: .5s;
  opacity: 1;
  position: absolute;
  }
  .title:after{
font-family: Arial, Helvetica, sans-serif;
font-size: 8rem!important;
    padding:1rem!important;
    margin:1rem!important;
    justify-content: center!important;
    color: rgb(255, 255, 255,.001)!important;
    padding-bottom: 10rem!important;
    transition: .5s;
    opacity: 1;
    position: absolute;
    }

    .quad{
      font-family: Arial, Helvetica, sans-serif!important;
      font-size: 1.25rem!important;
      text-justify: auto!important;
      text-align: center!important;
      padding:1rem!important;
      margin:1rem!important;
      color: rgba(10,10,10,1)!important;  
      padding-bottom: 6.6rem!important;
      transition: 1s;
      }

.social-velo{
width:8em!important;
height:8em!important;
padding:.5em;
text-align: center!important;
text-align: center!important;
margin:.5em;
opacity:.5;
transition: 1s;
font-size: .51em;
font-family: Arial, Helvetica, sans-serif;
color: rgb(255, 255, 255)!important; 
}
.social-title{
  font-size: 1.5em!important;
  text-align: center!important;
  font-family: 'Libre Baskerville', serif!important;
  color: rgb(5, 5, 5,1)!important; 
  }
.social-velo:hover{
  text-align: center!important;
  width:8em!important;
  height:8em!important;
  align-items: center!important;
  padding:.5em;
  margin:.5em;
  opacity:.90;
  transition: 1s;
  color: rgb(255, 255, 255)!important; 
  }

.image{
  width: 30em!important;
    opacity:1;
  transition: 1s;
  }
  .image:hover{
    width: 30em!important;
    opacity:1;
  transition: .5s;
  }
  .prosa{
  font-family: 'Libre Baskerville', serif!important;
  padding:1em;
  text-justify: auto!important;
  margin:1em;
  text-align:center!important;
  }
